.button {
    -fx-font-family: Nunito;
    -fx-font-size: 16pt;
    -fx-text-fill: #ecf0f1;
    -fx-background-color: #3867d6;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #212121, 10, 0, 0, 0);

}
.button:pressed {
    -fx-background-color: #4b7bec;
}

.mainBackground {
    -fx-background-color: #45aaf2;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: white;
}

.background {
    -fx-background-color: #2d98da;
}

.label {
    -fx-font-size: 40pt;
    -fx-font-family: Nunito;
    -fx-text-fill: #ecf0f1;
}

.smallLabel {
    -fx-font-size: 20pt;
    -fx-font-family: Nunito;
    -fx-text-fill: #ecf0f1;
}